// Monochromatic
$white:      #fffdfc;
$off-white:  darken(#fffdfc, 2);
$light-grey: #d9cfce;
$grey:       #666161;
$dark-grey:  #666161;
$alt-grey:   #e5e2e1;
$black:      #333130;

// Colors
$red:        #ed462f;
$dark-red:   #80251a;
$dark-orange:#80251a;
$orange:     #ed462f;
$yellow:     #ffdb59;
$green:      #7cbfb4;
$teal:       #7cbfb4;
$blue:       #79a1f2;
