// Monochromatic
$white:      #fffdfc;
$off-white:  darken(#fffdfc, 2);
$light-grey: #d9cfce;
$dark-grey:  #666161;
$alt-grey:   #e5e2e1;
$black:      #333130;

// Colors
$red:        #ed462f;
$dark-red:   #80251a;
$blue:       #79a1f2;
$green:      #7cbfb4;
$yellow:     #ffdb59;
