// Basic Elements
body {
  background: $off-white;
  color: $black;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition(all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
  line-height: 1.375;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 0.9375em;
  font-weight: 200;
}

h4 {}

h5 {}

h6 {}

p {}

hr {
  // border-color: darken($white, 5);
  border-color: $alt-grey;
}
