#header {
  background: $red;
  @include background-image( radial-gradient(lighten($red, 3), darken($red, 3)) );
  border-bottom: 1px solid darken($red, 20);
  text-align: center;

  .header-logo {
    width: 8em;
    margin: 0 auto;
    padding: 0.5em 0;
  }

  .header-logo-image {
    display: block;
    width: 100%;
    height: auto;
  }

} // #header
