.l-single-post {
  padding: 0 0.5em;
  margin: 3em auto;

  .m-post {
    max-width: $max-post-width;
    margin: 0 auto 1em;
  }

  .s-app-cta {
    max-width: $max-post-width * 0.75;
    margin: 0 auto 1em;
  }

  .m-post-header {
    margin-bottom: 1em;
  }

  .m-post-images {
    margin-bottom: 0.5em;
  }

  .m-post-meta {
    margin-bottom: 1.5em;
    text-align: center;
  }

  @include media-ie($max-post-width) {
    padding: 0 $page-gutter;

    .post-meta-coordinates {
      float: left;
    }

    .post-meta-timestamp {
      float: right;
    }

  } // @include media-ie($max-post-width)

  @include media-ie(1024px) {

    .m-post {
      @include span-columns(6);
      @include shift(3);
    }

    .s-app-cta {
      @include span-columns(3);
      @include omega;
    }

  } // @include media-ie(1024px)

} // .l-single-post
